<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스는 sql 구문에 사용되는 값이 null 이면 에러 발생함,
		null 을 사용할 수 있게 하려면 아래의 설정을 추가함
	 -->
	 <settings>
	 	<setting name="jdbcTypeForNull" value="NULL" />
	 	<setting name="cacheEnabled" value="false" />
	 </settings>

	<!-- 존재하지 않는 클래스와 매퍼파일을 먼저 등록 설정하면 톰켓 구동 안함 : 에러 발생함 -->
	<typeAliases>		
		<typeAlias type="org.myweb.first.member.model.dto.Member" alias="Member" />		
		<typeAlias type="org.myweb.first.board.model.dto.Board" alias="Board" />	
		<typeAlias type="org.myweb.first.common.Paging" alias="Paging" />	
		<typeAlias type="org.myweb.first.common.Search" alias="Search" />	
		<typeAlias type="org.myweb.first.warehouse.model.dto.Warehouse" alias="Warehouse" />
		<typeAlias type="org.myweb.first.warehouse.model.dto.WarehouseSearchCondition" alias="WarehouseSearchCondition" />
		<typeAlias type="org.myweb.first.inout.model.dto.InOutVoice" alias="InOutVoice"/>
		<typeAlias type="org.myweb.first.partner.model.dto.Partner" alias="Partner"/>
		<typeAlias type="org.myweb.first.partner.model.dto.PartnerSearchCondition" alias="PartnerSearchCondition"/>
		<typeAlias type="org.myweb.first.product.model.dto.Product" alias="Product"/>
		<typeAlias type="org.myweb.first.product.model.dto.ProductSearchCondition" alias="ProductSearchCondition"/>
		<typeAlias type="org.myweb.first.notice.model.dto.Notice" alias="Notice"/>
		<typeAlias type="org.myweb.first.notice.model.dto.NoticeSearchCondition" alias="NoticeSearchCondition"/>
		<typeAlias type="org.myweb.first.transaction.model.dto.Transaction" alias="Transaction"/>
		<typeAlias type="org.myweb.first.inventory.model.dto.Inventory" alias="Inventory"/>
		<typeAlias type="org.myweb.first.order.model.dto.Order" alias="Order"/>
		<typeAlias type="org.myweb.first.report.inoutstat.model.dto.InoutStatChartDTO" alias="InoutStatChartDTO"/>
		<typeAlias type="org.myweb.first.report.inoutstat.model.dto.InoutStatDTO" alias="InoutStatDTO"/>
		<typeAlias type="org.myweb.first.report.inoutstat.model.dto.InoutStatSearchDTO" alias="InoutStatSearchDTO"/>
		<typeAlias type="org.myweb.first.document.model.dto.Document" alias="Document"/>
		<typeAlias type="org.myweb.first.order.model.dto.OrderItem" alias="OrderItem"/>

	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />	
		<mapper resource="mappers/notice-mapper.xml" />	
		<mapper resource="mappers/board-mapper.xml" />		
		<mapper resource="mappers/warehouse-mapper.xml" />
		<mapper resource="mappers/auth-mapper.xml" />
		<mapper resource="mappers/inoutvoice-mapper.xml"/>
		<mapper resource="mappers/partner-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/transaction-mapper.xml"/>
		<mapper resource="mappers/inventory-mapper.xml"/>
		<mapper resource="mappers/order-mapper.xml"/>
		<mapper resource="mappers/inoutstat-mapper.xml"/>
		<mapper resource="mappers/document-mapper.xml"/>
	</mappers>
</configuration>
