<resultMap id="resultList" type="Member">
	<result property="userId" column="USERID" />
	<result property="userPwd" column="USERPWD" />
	<result property="userName" column="USERNAME" />
	<result property="gender" column="GENDER" />
	<result property="age" column="AGE" />
	<result property="phone" column="PHONE" />
	<result property="email" column="EMAIL" />
	<result property="enrollDate" column="ENROLL_DATE" />
	<result property="lastModified" column="LASTMODIFIED" />
	<result property="signType" column="SIGNTYPE" />
	<result property="adminYN" column="ADMIN_YN" />
	<result property="loginOk" column="LOGIN_OK" />
	<result property="photoFileName" column="PHOTO_FILENAME" />
</resultMap>

<select id="selectMember" parameterType="string" resultMap="resultList">
	select * from member 
	where userid = #{ userId } and login_ok = 'Y'
</select>

<select id="selectCheckId" parameterType="string" resultType="_int">
	select count(userid)
	from member
	where userid = #{ userId }
</select>

<delete id="deleteMember" parameterType="string">
	delete from member
	where userid = #{ userId }
</delete> 